<div class="container mt-5 mb-5">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Atualizar</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-10">

            <div class="form-group">
                <label for="nome">Nome</label>
                <input [(ngModel)]="user.name" class="form-control" type="text" name="nome" id="nome" placeholder="Nome">
            </div>

            <div class="form-group">
                <label for="usuario">Usuário</label>
                <input [(ngModel)]="user.user" class="form-control" type="text" name="usuario" id="usuario" placeholder="Usuário">
            </div>

            <div class="form-group">
                <label for="foto">Foto</label>
                <input [(ngModel)]="user.photo"class="form-control" type="text" name="foto" id="foto" placeholder="Link da foto">
            </div>

            <div class="form-group">
                <label for="senha">Senha</label>
                <input (input)="confirmSenha($event)" class="form-control" type="password" name="senha" id="senha" placeholder="Senha">
            </div>

            <div class="form-group">
                <label for="confirmSenha">Confirmar senha</label>
                <input [(ngModel)]="user.password" class="form-control" type="password" name="confirmSenha" id="confirmSenha" placeholder="Confirmar senha">
            </div>

            <div class="form-group">
                <label for="tipo">Tipo de usuário</label>
                <select class="form-control" name="tipo" id="tipo" (change)="tipoUser($event)">
                    <option>Selecione um tipo de usuário:</option>

                    <option value="normal">Normal</option>
                    <option value="adm">Administrador</option>
                </select>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-danger mr-4"  routerLink="/inicio">Cancelar</button>
                <button (click)="atualizar()" type="submit" class="btn btn-success mr-4">Atualizar</button>
            </div>
        </div>
    </div>
</div>
